@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Lab 16.1</h1>
    <p class="lead">Add client-side (JavaScript) validation a user registration form.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="~/Home/User" role="button">User Form</a>
    </p>
</div>
