@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to GC Coffee</h1>
        <p style="font-size: 24px">Shop!&nbsp;<a href="/Registration">Register</a></p>
        <br />
        <p style="font-size: 24px"><a href="/Admin">Admin</a></p>
    </div>