@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">This is a simple MVC web app which utilizes the Deck of Cards API. </p>
    <hr class="my-4">
    <p>Click Deal Me In to start a game!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Cards/Hand" role="button">Deal Me In!</a>
    </p>
</div>
