@using IdentityExample1.Models.AccountViewModels
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<br />
<br />
<br />
<br />
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">@ViewData["Title"]</div>
    <div class="card-body">
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <div>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <div>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <br />
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
